# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request:
  repository_dispatch:
    types: [run_build, run_release]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Install ninja-build
      run: |
        sudo apt-get update
        sudo apt-get -y install ninja-build

    - name: Runs all the stages in the shell
      env:
        CC: clang
        CXX: clang++
        ASM: clang
      run: |
        ./build.sh ${{ github.event.client_payload.sha }}

    - name: Create tag name
      if: startsWith(github.ref, 'refs/tags/') != true
      run: |
        export TAGNAME="snapshot_$(date +'%Y_%m_%d_%H%M%S')"
        echo "::set-env name=NEW_TAGNAME::$TAGNAME"
    
    - name: Use tag name
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        export TAGNAME="$(echo ${GITHUB_REF##*/})"
        echo "::set-env name=NEW_TAGNAME::$TAGNAME"

    - name: Release
      if: startsWith(github.ref, 'refs/tags/') || github.event.action == 'run_release' || ( github.ref == 'refs/heads/master' && github.event.action == '' )
      uses: softprops/action-gh-release@v1
      with:
        files: toolchain.tar.gz
        tag_name: ${{ env.NEW_TAGNAME }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
